<p>
  <strong>Upload:</strong>
  <%= @book.updated_at.strftime("%Y-%m-%d") %>
</p>
<p>
  <strong>Nombre:</strong>
  <%= @book.name %>
</p>
<p>
  <strong>Autor:</strong>
  <%= @book.author %>
</p>
<p>
  <%= image_tag @book.image.url(:medium) %>
</p>
<p>
  <strong>Descripción:</strong>
  <%= @book.descrption %>
</p>



<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Your books', books_path %>