<p>
  <strong>Upload:</strong>
  <%= @book.updated_at %>
</p>
<p>
  <strong>Nombre:</strong>
  <%= @book.name %>
</p>
<p>
  <strong>Autor:</strong>
  <%= @book.author %>
</p>
<p>
  <%= @book.imagen %>
</p>
<p>
  <strong>Descripción:</strong>
  <%= @book.descrption %>
</p>



<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Your books', books_path %>